<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="grid grid-cols-4 gap-4 mb-6">
    <div class="p-6 rounded-lg shadow-lg bg-white">
      <p>Saldo atual: </p>
      <p class="text-2xl font-bold">
        <%= number_to_currency @saldo %>
      </p>
    </div>
    <div class="p-6 rounded-lg shadow-lg bg-blue-600 text-white">
      <%= link_to "Nova movimentação", new_movimentacao_path, class: "rounded-lg  block font-medium text-center" %>
    </div>
    <div class="p-6 rounded-lg shadow-lg bg-green-600 text-white">
      <%= link_to "sair", destroy_usuario_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: "rounded-lg  block font-medium text-center" %>
    </div>
  </div>

  <div id="movimentacoes" class="min-w-full">
    <% @movimentacoes.each do |movimentacao| %>
      <%= render movimentacao %>
    <% end %>
  </div>
</div>
